@if (this.popupService.popupState$().type === 'reject' && this.popupService.popupState$().isOpen) {
  <div class="popup-overlay">
  <div class="popup-content">
    <header>
      <h2>Reject Document</h2>
      <button class="close-btn" (click)="closePopup()">×</button>
    </header>
    <section class="form-section">
      <div class="form-group">
        <label for="reject-reason">Please choose the reason of rejection</label>
        <select
          id="reject-reason"
          placeholder="Choose or enter other reason"
          [(ngModel)]="selectedReason"
          [class.placeholder] = "selectedReason === ''"
        >
        @for (reason of reasons; track $index) {
          <option [value]="reason.value">
            {{ reason.label }}
          </option>
        }
        </select>
      </div>
      @if (selectedReason === 'other') {
      <div class="form-group">
        <label for="other-reason">Enter the reason</label>
        <input
          type="text"
          id="other-reason"
          placeholder="Enter details for rejection"
        />
      </div>
    }
    </section>
    <section class="button-section">
      <button class="confirm-btn" (click)="confirm()">Confirm</button>
    </section>
  </div>
</div>
}
