@use '../../../../styles/mixins' as *;

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .popup-content {
    background-color: white;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;

    header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 16px;
      border-bottom: 1px solid #e0e0e0;
      position: relative;

      h2 {
        margin: 0;
        font-size: 16px;
        color: #0D062D;
      }

      h3 {
        margin: 4px 0 0;
        font-size: 14px;
        font-weight: normal;
        color: #7B7F92;
      }

      .close-btn {
        position: absolute;
        top: 16px;
        right: 16px;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #666;
        transition: color 0.2s;

        &:hover {
          color: #000;
        }
      }
    }

    section {
      padding: 16px;
      color: #333;
    }
  }
}

.form-section {
  padding: 16px;

  .form-group {
    margin-bottom: 16px;

    label {
      display: block;
      font-size: 14px;
      color: #4B5563;
      margin-bottom: 4px;
    }

    input,
    textarea,
    select {
      width: 100%;
      padding: 8px 12px;
      font-size: 14px;
      border: 1px solid #E5E7EB;
      border-radius: 8px;
      outline: none;
      height: 32px;
      transition: border-color 0.2s;

      &:focus {
        border-color: #007bff;
      }
    }

    textarea {
      resize: vertical;
      min-height: 80px;
    }

    input::placeholder,
    textarea::placeholder {
      color: #8E97A6;
      font-family: 'DM Sans', sans-serif;
    }

    select {
      appearance: none;
      background-size: 12px;
      border-radius: 8px;
      border-width: 1px;
      font-weight: 400;
      font-size: 14px;
      color: var(--primary-color)
    }

    option {
      color: var(--text-neutral-600)
    }

    option.selected {
      background-color: var(--table-row);
      color: var(--text-primary)
    }

    select.placeholder {
      color: var(--text-tertiary)
    }

    select:focus-visible {
      border-color: var(--primary-color);
      border-width: 0.5px;
    }
  }
}

.button-section {
  padding: 16px;
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: flex-end;

  .confirm-btn {
    @include button-text;

    &:hover {
      background-color: #0056b3;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 480px) {
  .popup-content {
    width: 95%;
  }
}
