@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #23306b;
  --text-primary: #0d062d;
  --text-tertiary: #7b7f92;
  --text-neutral: #4B5563;
  --text-neutral-400: #8E97A6;
  --error-color: #e53e3e;
}

body {
  font-family: "DM Sans", sans-serif;
}
